<h1> {{ anime.title }} </h1>
<div> 
	<img src="{{ anime.image_url}}" > <br>
	Type: {{ anime.type }} <br> 
	Aliases: {{ anime.aliases}} <br>
	Genres: {{ anime.genres }} <br>
	Started airing: {{ anime.started_airing }} <br>
	Finished airing: {{ anime.finished_airing }} <br>
	Tags: {{ anime.tags }} <br>
	Status: {{ anime.status }} <br>
	Count: {{ anime.episodes }} <br>
	Length: {{ anime.episode_length }} <br>
</div>
<div>
	Rating: {{ anime.average_rating }}
	Synopsis: {{ anime.synopsis }}
</div>